.mycol {
    padding: 50px 0px 50px 0px;
    text-align: center;
    border: 0.5px dotted;
}

.fixed {
    height: 30px;
    background-color: gray;
    border: 0.5px dotted;
    margin-bottom:40px;
    padding-left: 15px;
}


.col-md-12 {
    background-color: green;
}

.col-md-6 {
    background-color: red;
}

.col-sm-4 {
    background-color: yellow;
}

.col-md-2 {
    background-color: blue;
}

.col-sm-2 {
    background-color: gray;
}

.fixed-width {
    width: 10000px;
    margin: 0;
}
